<h1 class="m-3">Welcome <%= @user.username %></h1>


<ul class="container mt-3">
  <h2>Your Bookings:</h2>
  <% sorted_bookings = (@user.bookings.sort_by {|booking| booking.status}).reverse %>
  <% sorted_bookings.each do |booking| %>
    <div class="card-booking m-3 ">
      <% if booking.animal.photo.attached? %>
        <%= cl_image_tag booking.animal.photo.key, height: 400, width: 400, crop: :fill, class: "animal-img" %>
      <% else %>
      <%= image_tag "test.jpg", height: 200, width: 400, crop: :fill %>
        <% end %>
      <div class="card-booking-infos">
          <div>
            <h2><%= "#{booking.animal.name} (#{booking.animal.specie})" %></h2>
            <p>   <%= booking.animal.location %></p>
            <p> <%= "Start: #{booking.starting_date}." %></p>
            <p class="mt-0"><%= "End: #{booking.ending_date}" %></p>
          </div>
          <div class="text-right">
            <%= cl_image_tag booking.animal.user.photo.key, height: 35, width: 35, class: "card-animal-owner avatar-bordered" %>
            <h2><%= "Total Price: #{booking.total_price} $"%></h2>
            <p > Status:
              <%if booking.status == "requested" %>
                <span class='text-warning'>Pending Validation</span></p>
              <%elsif booking.status == "validated" %>
                <span class='text-success'>Validated</span></p>
              <%elsif booking.status == "canceled" %>
                <span class='text-danger'>Canceled</span></p>
              <%elsif booking.status == "expired" %>
                <span class='text-secondary'>Expired</span></p>
              <%elsif booking.status == "finished" %>
                <span class='text-muted'>Done</span></p>
              <% end %>
          </div>
      </div>
      <%= link_to "", booking_path(booking), class: "card-link" %>
    </div>
  <% end %>
</ul>
