<h1 class="m-3">Welcome <%= @user.username %></h1>


<ul class="container mt-3">
  <h2>Your Bookings:</h2>
  <% @user.bookings.each do |booking| %>
    <div class="card-booking m-3">
      <% if booking.animal.photo.attached? %>
        <%= cl_image_tag booking.animal.photo.key, height: 200, width: 400, crop: :fill %>
      <% else %>
        <%= cl_image_tag "sample.jpg", height: 200, width: 400, crop: :fill %>
      <% end %>
      <div class="card-booking-infos">
          <div>
            <h2><%= "#{booking.animal.name} (#{booking.animal.specie})" %></h2>
            <p>   <%= booking.animal.location %></p>
            <p> <%= "Starts: #{booking.starting_date}." %></p>
            <p class="mt-0"><%= "Ends: #{booking.ending_date}" %></p>
          </div>
          <div>
            <h2><%= "Total Price: #{booking.total_price} $" %></h2>
            <p><%=" Status: #{booking.status} "%></p>
          </div>
      </div>
    </div>
  <% end %>
</ul>

"requested" - orange, "validated" - green, "canceled" - red, "expired" - grey, "finished"
