<div class="description-map col-8 shadow-none p-3 mb-5 bg-light rounded">
  <div class="card-description-show">
    <div class="logo-owner">
      <span id="logo-owner-edit" style="font-size: 25px; color: #5D5D5D;">
        <i class="far fa-edit" >
          <%= link_to "", edit_animal_path(@animal), class: "button-link" %>
        </i>
      </span>
      <span id="logo-owner-delete" style="font-size: 25px; color: #5D5D5D;">
        <i class="far fa-trash-alt">
          <%= link_to "" , animal_path(@animal), method: :delete, data: { confirm: "Are you sure?" }, class: "button-link" %>
        </i>
      </span>
    </div>
    <div class="card-description-flex d-flex justify-content-between">
      <br />
      <div class="card">
        <div class="card-body">
          <i class="fas fa-venus-mars"></i>
          <h3> <%= @animal.sexe %> </h3>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <i class="fas fa-arrows-alt-v"></i>
          <h3> <%= @animal.size %> </h3>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <i class="fas fa-dollar-sign"></i>
          <h3> <%= @animal.price %> </h3>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <i class="fas fa-universal-access"></i>
           <h3> <%= @animal.age %> </h3>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <i class="fas fa-exclamation-triangle"></i>
          <% if @animal.risk_factor == "XXX" %>
            <h3 ><i id="risk_factor"><strong style="color:red;">High</strong></h3>
          <% elsif @animal.risk_factor =="XX" %>
            <h3><i id="risk_factor"><strong style="color:blue;">Normal</strong></h3>
          <% elsif @animal.risk_factor =="X" %>
            <h3><i id="risk_factor" ><strong style="color:green;">Low</strong></h3>
          <% end %>
        </div>
      </div>
    </div>
    <p><%= @animal.description %></p>
    <h3 class="address-title"> <i class="fas fa-search-location"></i> Location : <%= @animal.location %> </h3>
  </div>
  <div
    id="map"
    class="map-show";
    style="width: 100%;
    height: 300px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
