<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/2194261/pexels-photo-2194261.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <%= render 'shared/navbar_home' %>
  <%= render 'shared/flashes' %>

  <div class="search-form">
    <form>
      <h1>Rent amazing animals and change your life</h1>
      <div class="form-group">
        <label for="Animal">Specie</label>
        <input type="text" class="form-control" id="Animal" aria-describedby="Specie" placeholder="Dog">
      </div>
      <div class="form-group">
        <label for="Where">Location</label>
        <input type="email" class="form-control" id="Where" aria-describedby="Location" placeholder="Anywhere">
      </div>
      <div class="dates-inputs">
        <div class="form-group">
          <label for="check-in">Check-in</label>
          <input type="date" class="form-control" id="check-in" placeholder="dd-mm-yyyy">
        </div>
        <div class="form-group">
          <label for="check-out">Check-out</label>
          <input type="date" class="form-control" id="check-out" placeholder="dd-mm-yyyy">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</div>

<div class="top-animals">
  <h1>Our best puppies</h1>
  <div class="cards container">
    <% @best_animals.each do |animal| %>
      <div class="card-animal card-home">
        <%= link_to animal_path(animal) do %>
          <% if animal.photo.attached? %>
            <%= cl_image_tag animal.photo.key, height: 200, width: 400, crop: :fill %>
          <% else %>
            <%= cl_image_tag "sample.jpg", height: 200, width: 400, crop: :fill %>
          <% end %>
        <% end %>
        <div class="card-animal-infos">
          <div>
            <h2><%= link_to animal.name, animal_path(animal) %></h2>
            <p>    <%= animal.specie %> <%= animal.location %></p>
          </div>
          <h2 class="card-animal-pricing"> <%= "#{animal.price}$/per day" %></h2>
          <%= cl_image_tag animal.user.photo.key, height: 40, width: 40, crop: :fill, class: "card-animal-user avatar-bordered"  %>
         </div>
      </div>
    <% end %>
  </div>
</div>




