<div class="banner" >
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>

  <div id="carouselExampleSlidesOnly background-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active ">
          <img  src="https://images.pexels.com/photos/372166/pexels-photo-372166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item  ">
        <img src="https://images.pexels.com/photos/160846/french-bulldog-summer-smile-joy-160846.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item  ">
        <img src="https://images.pexels.com/photos/1386422/pexels-photo-1386422.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <h1 class="title-home">Find your new friend</h1>
  <div class="search-form-home">
    <%= form_tag animals_path, method: :get do %>
    <div class="form-home d-flex">
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search by location"%>
      <button class="bubbly-button"><%= submit_tag "Search", class: "submit-class" %></button>
    </div>
    <% end %>
  </div>
</div>

<br>

<div class="top-animals">
  <h1>Most popular pets</h1>
  <div class="cards container">
    <% @best_animals.each do |animal| %>
      <div class="card-animal card-home">
           <% if animal.photo.attached? %>
            <%= cl_image_tag animal.photo.key, height: 200, width: 400, crop: :fill %>
           <% else %>
          <%= image_tag "test.jpg", height: 200, width: 400, crop: :fill %>
             <% end %>

        <div class="card-animal-infos">
          <div>
            <h2><%= animal.name %></h2>
            <p><%= animal.specie %> <%= animal.location %></p>
          </div>
          <h2 class="card-animal-pricing"> <%= "#{animal.price}$/per day" %></h2>
          <%= cl_image_tag animal.user.photo.key, height: 40, width: 40, crop: :fill, class: "card-animal-user avatar-bordered" %>
         </div>
         <%= link_to "", animal_path(animal), class: "card-link" %>
      </div>
    <% end %>
  </div>
</div>

<!--  -->



