<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/2194261/pexels-photo-2194261.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>

  <div class="search-form-home">
    <h1>Rent amazing animals and change your life</h1>
    <%= form_tag animals_path, method: :get do %>
      <div class="form-group">
        <%= label_tag(:specie, "Specie") %>
        <%= text_field_tag :specie,
          params[:specie],
          class: "form-control",
          placeholder: "Dog"
        %>
      </div>
      <div class="form-group">
        <%= label_tag(:query, "Location") %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "London"
        %>
      </div>
      <div class="dates-inputs">
        <div class="form-group form-date">
          <%= label_tag(:start_date, "Start Date") %>
          <%= select_date Date.today, prefix: :start_date %>
        </div>
        <div class="form-group form-date">
            <%= label_tag(:end_date, "End Date") %>
            <%= select_date Date.today, prefix: :end_date %>
          </div>
        </div>
      <div class="button">
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="top-animals">
  <h1>Our best puppies</h1>
  <div class="cards container">
    <% @best_animals.each do |animal| %>
      <div class="card-animal card-home">
           <% if animal.photo.attached? %>
            <%= cl_image_tag animal.photo.key, height: 200, width: 400, crop: :fill %>
           <% else %>
          <%= image_tag "test.jpg", height: 200, width: 400, crop: :fill %>
             <% end %>

        <div class="card-animal-infos">
          <div>
            <h2><%= animal.name %></h2>
            <p><%= animal.specie %> <%= animal.location %></p>
          </div>
          <h2 class="card-animal-pricing"> <%= "#{animal.price}$/per day" %></h2>
          <%= cl_image_tag animal.user.photo.key, height: 40, width: 40, crop: :fill, class: "card-animal-user avatar-bordered" %>
         </div>
         <%= link_to "", animal_path(animal), class: "card-link" %>
      </div>
    <% end %>
  </div>
</div>

<!--  -->



