<h1>Summary of your rental</h1>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= @animal.location %>
        <%#= ending_date.value %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<%= form_tag animal_confirmation_path(@animal), method: :get do %>
          <div class="dates-inputs">
            <div class="form-group form-date">
              <%= label_tag(:starting_date, "Start Date") %>
              <%= date_field_tag :starting_date, id:'start' %>
            </div>
            <div class="form-group form-date">
              <%= label_tag(:ending_date, "End Date") %>
              <%= date_field_tag :ending_date, id:'end' %>
            </div>
          </div>
          <br>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            <%= submit_tag "Choose pet", class: "btn btn-primary mt-20" %>
          </button>

        <% end %>
