<!-- //DESCRIPTION :
 -->
 <p id="animal-description"><%= @animal.description %></p>


<!-- //card description
 -->
 <div class="description-map">
  <div class="card-description-show">
  <br />

    <h3> - Location : <%= @animal.location %> </h3>
    <h3> - Sexe : <%= @animal.sexe %> </h3>
    <h3> - Size : <%= @animal.size %> </h3>
    <h3> - Age : <%= @animal.age %> </h3>
    <h3> - Risk factor :
      <% if @animal.risk_factor == "XXX" %>
        <p style="color:red;"><strong>High</strong></p>
      <% elsif @animal.risk_factor =="XX" %>
        <p>Normal</p>
      <% elsif @animal.risk_factor =="X" %>
        <p style="color:green;"><strong>Low</strong></p>
      <% end %>
    </h3>
  </div>


<!-- MAP -->

  <div
    id="map-show"
    class="col-4";
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>


<!-- RESERVATION CARD
 -->
<div class="search-form" id="show-search-form">
  <h2>Add dates</h2>
  <br>
  <%= form_tag animal_confirmation_path(@animal), method: :get do %>
    <%= date_field_tag :starting_date %>
    <%= date_field_tag :ending_date %>
    <br>
    <%= submit_tag "Choose this pet" %>
  <% end %>
</div>
