<%= form_tag animals_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search by location"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<h1>Find your new best friend!</h1>
<br>


<div class="cards container">
  <% @animals.each do |animal| %>
    <div class="card-animal">
         <% if animal.photo.attached? %>
          <%= cl_image_tag animal.photo.key, height: 200, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag "test.jpg", height: 200, width: 400, crop: :fill %>
        <% end %>
       <div class="card-animal-infos">
        <div>
          <h2><%= animal.name %></h2>
          <p>    <%= animal.specie %> <%= animal.location %></p>
        </div>
        <h2 class="card-animal-pricing"> <%= "#{animal.price}$/per day" %></h2>
        <%= cl_image_tag animal.user.photo.key, height: 40, width: 40, crop: :fill, class: "card-animal-user avatar-bordered"  %>
       </div>
       <%= link_to "", animal_path(animal), class: "card-link" %>
    </div>

  <% end %>
</div>


