<%= render 'shared/flashes' %>

<% if @animal.photo.attached? %>
  <div class="banner-animal-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @animal.photo.key%>'); background-position: inherit;"></div>
<% else %>
  <div class="banner-animal-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "test.jpg"%>'); background-position: inherit;"></div>
<% end %>

<div class="container">
  <div class="title-show-animal">
    <div class="text container">
      <h1><%= "#{@animal.name}, #{@animal.specie}" %></h1>
    </div>
  </div>
</div>

<% if current_user.animals.include?(@animal) %>

<% else %>
  <div class="container">
      <div class="row">
        <div class="d-flex justify-content-between w-100%">
          <%= render 'shared/card_description_show' %>
          <div class="search-form align-items-center" id="show-search-form">
            <h2><i class="far fa-calendar-alt"></i>  Add dates</h2>
            <br>
            <%= simple_form_for [@animal, @booking] do |f| %>
              <%= f.input :starting_date, as: :string, required: false, input_html: {class: "datepicker"} %>
              <%= f.input :ending_date, as: :string, required: false, input_html: {class: "datepicker"} %>
              <button class="bubbly-button"><%= f.submit "Choose pet", class: "submit-class" %></button>
            <% end %>
          </div>
        </div>
      </div>
      <%= render 'shared/more_animal' %>
  </div>
<% end %>

