<div class="body-show-animal">

   <%= render 'shared/flashes' %>
  <br>
  <div class="banner-animal-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @animal.photo.key, gravity: :face %>');"></div>
  <div class="title-show-animal">
    <h1><%= "#{@animal.name}, #{@animal.specie}" %></h1>
  </div>

  <div class="card-show">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-8">
        <div class="card-description-show">
          <strong><%= @animal.description %></strong>
          <h3>Location</h3>
          <p><%= @animal.location %></p>
          <h3>Sexe</h3>
          <p><%= @animal.sexe %></p>
          <h3>Size</h3>
          <p><%= @animal.size %></p>
          <h3>Age</h3>
          <p><%= @animal.age %></p>
          <h3>Risk factor</h3>
          <% if @animal.risk_factor == "XXX" %>
            <p style="color:red;"><strong>High</strong></p>
          <% elsif @animal.risk_factor =="XX" %>
            <p>Normal</p>
          <% elsif @animal.risk_factor =="X" %>
            <p style="color:green;"><strong>Low</strong></p>
          <% end %>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="search-form" id="show-search-from">
          <h4>Add dates for prices</h4>
          <br>
          <%= form_tag animal_confirmation_path(@animal), method: :get do %>
            <%= date_field_tag :starting_date %>
            <br style="padding:200px;">
            <%= date_field_tag :ending_date %>
            <br>
            <%= submit_tag "Reservez" %>
            <% end %>
        </div>
      </div>
      </div>
      </div>
<!--       <%#= simple_form_for [@animal, @booking] do |f| %>
        <%#= f.input :starting_date, as: :date, html5: true %>
        <%#= f.input :ending_date, as: :date, html5: true %>
        <%#= f.submit :submit, class: "btn btn-primary" %>
      <%# end %> -->

  </div>
  <h2>More animals you may like</h2>
  <br>

  <div class="cards container" style="margin-bottom:100px;">
  <% @animals.each do |animal| %>
    <% if @animal != animal %>
      <div class="card-animal">
        <%= link_to animal_path(animal) do %>
          <% if animal.photo.attached? %>
            <%= cl_image_tag animal.photo.key, height: 200, width: 400, crop: :fill %>
          <% else %>
            <%= cl_image_tag "sample.jpg", height: 200, width: 400, crop: :fill %>
          <% end %>
        <% end %>
        <div class="card-animal-infos">
          <div>
            <h2><%= link_to animal.name, animal_path(animal) %></h2>
            <p>    <%= animal.specie %> <%= animal.location %></p>
          </div>
          <h2 class="card-animal-pricing"> <%= "#{animal.price}$/per day" %></h2>
          <%= cl_image_tag animal.user.photo.key, height: 40, width: 40, crop: :fill, class: "card-animal-user avatar-bordered"  %>
         </div>
      </div>
    <% end %>
  <% end %>
</div>


</div>

