<%= render 'shared/navbar_home' %>
<%= render 'shared/flashes' %>
<br>
<div class="banner-animal-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/2194261/pexels-photo-2194261.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);"></div>

<div>
  <h1><%= "#{@animal.name}, #{@animal.specie}" %></h1>
</div>

<div class="card-show">
  <div class="card-description-show">
    <%= @animal.description %>
  </div>
  <div class="search-form">
    <%= simple_form_for [@animal, @booking] do |f| %>
      <%= f.input :starting_date, as: :date, html5: true %>
      <%= f.input :ending_date, as: :date, html5: true %>
      <%= f.submit :submit, class: "btn btn-primary" %>
    <% end %>
  </div>

</div>
